.app {
	width: 99vw;
	max-width: 450px;
	margin: 0 auto;
	padding: 0 0 0 10px;
	height: 100vh;
	background: var(--background);
	border-radius: 12px;
	overflow-y: auto;

	main {
		max-width: 400px;
		margin: 0 auto;
		padding: 24px 0;
	}
}
