.grass {
	border: 1px solid var(--type-grass);
	background-color: var(--type-grass);
}

.ghost {
	border: 1px solid var(--type-ghost);
	background-color: var(--type-ghost);
}

.steel {
	border: 1px solid var(--type-steel);
	background-color: var(--type-steel);
}

.water {
	border: 1px solid var(--type-water);
	background-color: var(--type-water);
}

.psychic {
	border: 1px solid var(--type-psychic);
	background-color: var(--type-psychic);
}

.ice {
	border: 1px solid var(--type-ice);
	background-color: var(--type-ice);
}

.dark {
	border: 1px solid var(--type-dark);
	background-color: var(--type-dark);
}

.fairy {
	border: 1px solid var(--type-fairy);
	background-color: var(--type-fairy);
}

.normal {
	border: 1px solid var(--type-normal);
	background-color: var(--type-normal);
}

.fighting {
	border: 1px solid var(--type-fighting);
	background-color: var(--type-fighting);
}

.flying {
	border: 1px solid var(--type-flying);
	background-color: var(--type-flying);
}

.poison {
	border: 1px solid var(--type-poison);
	background-color: var(--type-poison);
}

.fire {
	border: 1px solid var(--type-fire);
	background-color: var(--type-fire);
}

.bug {
	border: 1px solid var(--type-bug);
	background-color: var(--type-bug);
}

.ground {
	border: 1px solid var(--type-ground);
	background-color: var(--type-ground);
}

.electric {
	border: 1px solid var(--type-electric);
	background-color: var(--type-electric);
}

.dragon {
	border: 1px solid var(--type-dragon);
	background-color: var(--type-dragon);
}

.rock {
	border: 1px solid var(--type-rock);
	background-color: var(--type-rock);
}
