.app {
	max-width: 360px;
	margin: 2px auto;
	height: 640px;
	background: var(--background);
	border-radius: 12px;
	overflow-y: auto;

	main {
		width: 328px;
		margin: 0 auto;
		padding: 24px 0;
	}
}
