.pokemonStats__container {
	margin: 0 auto;
	max-width: 300px;
	.pokemonStats__table {
		display: flex;
		flex-direction: row;
		align-items: center;

		h3 {
			width: 28px;
			text-align: right;
			font-size: 10px;
			margin-right: 8px;
		}

		p {
			border-left: 1px solid var(--light-gray);
			padding: 2px 8px;
		}

		.pokemonStats__statusBar {
			width: 231px;
			height: 4px;
		}
	}
}

.grass {
	background-color: var(--type-grass);
}

.ghost {
	background-color: var(--type-ghost);
}

.steel {
	background-color: var(--type-steel);
}

.water {
	background-color: var(--type-water);
}

.psychic {
	background-color: var(--type-psychic);
}

.ice {
	background-color: var(--type-ice);
}

.dark {
	background-color: var(--type-dark);
}

.fairy {
	background-color: var(--type-fairy);
}

.normal {
	background-color: var(--type-normal);
}

.fighting {
	background-color: var(--type-fighting);
}

.flying {
	background-color: var(--type-flying);
}

.poison {
	background-color: var(--type-poison);
}

.fire {
	background-color: var(--type-fire);
}

.bug {
	background-color: var(--type-bug);
}

.ground {
	background-color: var(--type-ground);
}

.electric {
	background-color: var(--type-electric);
}

.dragon {
	background-color: var(--type-dragon);
}

.rock {
	background-color: var(--type-rock);
}
