.pokemonHeader {
	display: flex;
	justify-content: space-between;
	width: 288px;
	margin: 24px auto;
	align-items: center;

	div {
		display: flex;

		h1 {
			margin-left: 16px;
			font-weight: 700;
			font-size: 24px;
			color: var(--white);
		}
	}

	h2 {
		font-size: 12px;
		font-weight: 700px;
		color: var(--white);
	}
}
